{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} Trocar a senha {% endblock title %}


{% block content %}
<div class="row">
<div class="col-sm-4 col-sm-offset-4 ">
<div class="page-header">
<h1>Trocar Senha</h1>
</div>
<form method="post" action=".">
  {% csrf_token %} 
  {{ form | crispy }}
  <a href="javascript:history.back()" class="btn btn-default">Cancelar</a>
  <input type="submit" class="btn btn-primary" value="Enviar" />
</form>
</div>
</div>
<div class="row"><hr>
</div>

{% endblock %}
