{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Recuperar a senha{% endblock title %}


{% block content %}
<div class="row">
<div class='col-sm-6 col-sm-offset-3'>
<div class="page-header">
<h1>Recuperar a senha</h1>
</div>
<p>Insira seu email cadastrado para poder recuperar sua senha.</p>
<form method="post" action=".">
  {% csrf_token %} 
  {{ form|crispy }}
  <a href="javascript:history.back()" class="btn btn-default">Cancelar</a>
  <input class='btn btn-primary' type="submit" value="Enviar" />
</form>
</div>
</div>
{% endblock %}


