{% extends "base.html" %}
{% load static %}

{% block title %}DashBoard Peixes{% endblock title %}

{% block styles_leftsidebar %}
  <link href="{% static 'css/sidebarYosh_modif.css' %}" rel="stylesheet">
  <style type='text/css'>
    .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
  }

  </style>
{% endblock %}

{% block content %}

<div id="wrapper">  
    <!-- Sidebar -->
            <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-th-list"></span></a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">
          <li><a>Usuarios<span class="sub_icon glyphicon glyphicon-user"></span></a></li>
          <!--  <ul class="sidebar-nav" id="sidebar">
                <li><a>link1<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                <li><a>link2<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
           </ul> -->
          <li><a href="{% url 'pinax_messages:inbox' %}">Mensagem<span class="sub_icon glyphicon glyphicon-comment"></span></a></li>
          <li><a href="{% url 'new_projeto' %}">Projeto<span class="sub_icon glyphicon glyphicon-tasks"></span></a></li>
          <li><a>asd<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
          <li><a>234sdf<span class="sub_icon glyphicon glyphicon-link"></span></a></li>

        </ul>
    </div>
          
    <!-- Page content -->
    <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
          {% if perms.peixes.can_view_projeto %}
            {% if num_projetos %}    
            <h3 class="page-header">Projeto Atual: 
              <small>
                <select class="projetoss"> 
                {% for pro in projetos%}
                  <option value="{{pro.id}}">{{pro.nome}}</option>
                {% endfor %}
                </select>
              </small>
            </h3>
            {% else%}
              <h3 class="page-header">Nao tem nenhum projeto!.</h3>
            {% endif %}
          </div>
          <div class="row">
            {% if not num_projetos %}
              {% if perms.peixes.can_add_projeto %}
                Crie um projeto agora <a href="{% url 'new_projeto' %}"><button type="button" class="btn btn-info">Criar</button></a>
              {% endif %}
            {% else %}
              Curador: {{ curador |upper}}
            {% endif %}
            <div class="pull-right">
              <a href="{% url 'list_projetos' %}"><button type="button" class="btn btn-success">Ver todos os projetos</button></a>
            </div>
          </div>

            <div class="row">
              <h3 class="page-header">Integrantes do Projeto</h3>
            </div>
            <div class="row">
              <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Autorização</th>
                                            <th>Stuff</th>
                                        </tr>
                                    </thead>
                                    <tbody  id="result">
                                     {% for int in integrantes %}
                                        <tr>
                                            <td>{{int.user.username}}</td>
                                            <td>{{int.Autorização}}</td>
                                            <td>Wi</td>
                                        </tr> 
                                      {% endfor %}
                                    </tbody>
                                </table>
              </div>
            </div>
              <div class="row">
                <h3 class="page-header">Petições</h3>
              </div>
              <div class="row">

                <!-- <a href="{% url 'pinax_messages:inbox' %}"><i class="fa fa-envelope"></i>Message Inbox</a> -->
                

              <div class="pull-right">
                <a href=""><button type="button" class="btn btn-success">Visualizar</button></a>
              </div>
            </div>
              
            
          </div>
          {% else %}
            <h3 class="page-header">Nao pertence a nenhum projeto!.</h3>
            {{request.user.get_all_permissions}}
            <div class="pull-right">
              <a href="{% url 'list_projetos' %}"><button type="button" class="btn btn-success">Ver todos os projetos</button></a>
            </div>
          {% endif%}
            
        </div>
      
      
</div>
<script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script>
  $(document).ready(function () {
      $('.projetoss').on('change', function (e) {
      var slug = $(".projetoss").val();
      console.log(slug);
      var url_mask = "{% url 'update_consulta_integrantes' slug=12345 %}".replace(/12345/, slug.toString());
      $.ajax({
        url: url_mask,
        dataType: 'json',
        success: function (data) {
          var consulta = data.new_consulta;
          var users = data.users;
          console.log(consulta);
          console.log(users);
          $( "#result" ).empty();
          $.each(consulta, function(index, value){
            for(var i = 0; i<users.length;i++){
              if (users[i][0]==value[0]){
                $("#result").append('<tr><td>'+ users[i][1] +'</td><td>'+ value[1] +'</td></tr>');
              }
            }
            
            // console.log(value.id_user);
          });
        }

      });

      });
      
  });
  </script>

{% endblock %}

{% block js_sidebar %}
<script type="text/javascript">
  $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
  });

</script>
{% endblock %}