{% extends "base.html" %}
{% load static %}

{% block title %}Coleção Peixes{% endblock title %}



{% block content %}

<div id="wrapper">  
    <!-- Sidebar -->
            <!-- Sidebar -->
  
          
    <!-- Page content -->
    <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
            <h3 class="page-header">Projetos</h3>
          </div>
          <div class="row">
            {%if object_list %}
              {% for proj in object_list %}
              <div class="col-sm-4">
                          <div class="panel panel-primary">
                              <div class="panel-heading">
                                  Projeto #{{proj.id}} : {{proj.nome}}

                              </div>
                              <div class="panel-body">
                                  <p>{{proj.descrição}}</p>
                              </div>
                              {% if projetos_per_user %}
                                        <div class="panel-footer">
                                              {% if not proj.id in projetos_per_user %}
                                                <a href="#">
                                                <span class="pull-left">Solicitar acesso!</span>
                                                </a>
                                              {% else %}
                                                <span class="pull-left">Possue acesso!</span>
                                              {% endif %}
                                            <div class="clearfix"></div>
                                        </div>
                                    
                                  
                              {% endif %}

                          </div>
              </div>
              {% endfor %}
            {% endif %}  
          <div class="row">
            <div class="col-sm-4 col-sm-offset-6">
              <a href="javascript:history.back()" class="btn btn-default">Voltar</a>
            </div>
            
          </div>
        </div>
        <hr>
      
      
</div>
    
{% endblock %}
