{% extends "base.html" %}

{% block title %}{{ tecido.id }}{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>Tecido</h1>
      </div>

      <dl class="dl-horizontal">
        <dt><strong>Lote</strong></dt>
        <dd>{{ tecido.lote }}</dd>
        <dt><strong>Especie:</strong></dt>
        <dd>{{ tecido.especie }}</dd>
        <dt><strong>Data:</strong></dt>
        <dd>{{ tecido.data }}</dd>
        <dt><strong>Musculo:</strong></dt>
        <dd>{{ tecido.musculo }}</dd>
        <dt><strong>Nadadeira:</strong></dt>
        <dd>{{ tecido.nadadeira }}</dd>
        <dt><strong>Inteiro:</strong></dt>
        <dd>{{ tecido.inteiro }}</dd>
        <dt><strong>Outro:</strong></dt>
        <dd>{{ tecido.outro }}</dd>
      </dl>

      <a class="btn btn-default" href="{% url 'list_tecidos' %}">Voltar</a>
      <a class="btn btn-default" href="{% url 'edit_tecido' tecido.id %}">Editar</a>
      <a class="btn btn-danger" data-method="delete" href="{% url 'delete_tecido' tecido.id %}">Apagar</a>
    </div>
  </div>
{% endblock %}