{% load bootstrap3 %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %} - BD Coleção</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="{% static 'favicon.ico' %}"> 
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Custom styles for carousel -->
    <link href="{% static 'carousel.css' %}" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <!-- <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet"> -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'assets/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'assets/js/ie-emulation-modes-warning.js' %}"></script>

    <style type='text/css'>
      .navbar .navbar-collapse {
        text-align: center;
      }
    </style>

    
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" /> -->
    <!-- Custom styles for navbar static top -->
    <!-- <link href="{% static 'navbar-static-top.css' %}" rel="stylesheet"> -->

    <!-- CSS -->
    {% bootstrap_css %}

    {% block page_css_datepicker %}
    
    {% endblock %}
    
    
  </head>

  <body>

  
  {% if not view.is_popup %}

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BDColeta</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Peixes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'home_peixes' %}">DashBoard</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'new_lote' %}">Novo Lote</a></li>
            <li><a href="{% url 'list_lotes' %}">Lista de Lotes</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'new_determinador' %}">Novo Determinador</a></li>
            <li><a href="{% url 'list_determinadores' %}">Lista de Determinadores</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'new_coletor' %}">Novo Coletor</a></li>
            <li><a href="{% url 'list_coletores' %}">Lista de Coletores</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'new_tecido' %}">Novo Tecido</a></li>
            <li><a href="{% url 'list_tecidos' %}">Lista de Tecidos</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Procurar">
        </div>
        <button type="submit" class="btn btn-default">Enviar</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
         {% if not request.user.is_authenticated %}
              <li>
                <p class="navbar-btn">
                    <a href="{% url 'registration_register' %}" class="btn btn-default"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Registrar-se</a>
                </p>
              </li>
              <li> 
                <p class="navbar-text"> </p>
              </li>
              <li>
                <p class="navbar-btn">
                    <a href="{% url 'auth_login' %}" class="btn btn-default"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Inicie Sessão</a>
                </p>  
              </li>
              
            {% else %}

              <li class="navbar-text">
                Bem-vindo <span class="label label-default text-uppercase">{{request.user}}</span>
              </li>

              <li class="navbar-text">
                Autorização  <span class="label label-default text-uppercase">
             
                  {{request.user.groups.all | join:", "}}
                
                </span>
              </li>
              <li class="dropdown">
                  <button class="btn btn-default dropdown-toggle navbar-btn" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu ">
                    <!-- <li><a href="{% url 'edit_profile' request.user.username %}">Dados Pessoais</a></li> MODIFICAR PERFIL-->
                    <li><a href="{% url 'pinax_messages:inbox' %}">Mensagens</a></li>
                    <li><a href="{% url 'auth_password_change' %}">Trocar senha</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'auth_logout' %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sair</a></li>
                  </ul>
                
                <!-- <p class="navbar-btn">
                    <a href="{% url 'auth_logout' %}" class="btn btn-default"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Encerrar Sessão</a>
                </p> -->
              </li>
            {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  {% endif %}

    <div class="container">
      {% bootstrap_messages %} 

      {% block content %}
      {% endblock content %}

      <footer align="center">
        <p>&copy; UNILA 2018</p>
      </footer>

    </div> <!-- /container -->

    <!-- JavaScript -->
    {% bootstrap_javascript jquery=1 %} <!-- TO ENABLE FUNCTIONATILY ABOUT THE MESSAGES -->

    {% block page_js_datepicker %}

    {% endblock %}



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  <!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"> </script> -->
  
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"> </script>
  <script type="text/javascript">
    $(document).ready(function() {
    $('#example').DataTable(
       {
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
        }
    }
      );
    } );

  </script>

  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- <script src="{% static 'dist/js/bootstrap.min.js' %}"></script> -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'assets/js/vendor/holder.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>

    
<!--     {% block js_data_tables %}

    {% endblock js_data_tables %} -->
  </body>

</html>
