{% extends 'base.html' %}

{% block title %}Importação de dados{% endblock %}

{% block content %}

{% for line, errors in result.row_errors %}
        {% for error in errors %}
          <li>
            Linha numero: {{ line }} - <b>{{ error.error }}</b>
            <div>{{ error.row }}</div>
            <!-- <div class="traceback">{{ error.traceback|linebreaks }}</div> -->
        {% endfor %}

{% endfor %}

<div class="row">
<div class='col-sm-6 col-sm-offset-3'>
<div class="page-header">
  <h1>
  	Carrega
  </h1>
</div>
<form method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    <!-- <input type="file" name="myfile"> -->
    <input id="input-b1" name="myfile" type="file" class="file">
    <br>
    <button type="submit" class="btn btn-primary"> Carga <span class="sub_icon glyphicon glyphicon-upload"></span></button>
  </form>
</div>
</form>
</div>
</div>
{% endblock %}

